.post-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(22, 22, 22);
  width: 100%;
  max-width: 500px;
  border-radius: 15px;
  border: 2px solid rgb(143, 143, 143);
  padding: 20px;
  gap: 20px;

  img {
    object-fit: cover;
  }

  .post-image {
    width: 100%;
    height: auto;
  }

  .user-box {
    display: flex;
    align-items: center;
    gap: 10px;

    img {
      border-radius: 50%;
    }
  }

  .user-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    a:hover {
      text-decoration: underline;
    }

    .time {
      color: rgb(138, 138, 138);
    }
  }

  .post-options {
    display: flex;
    align-self: flex-end;
    gap: 20px;
    align-items: center;

    a:hover {
      text-decoration: underline;
    }

    button {
      background-color: rgb(255, 85, 85);
      border: none;
      border-radius: 15px;
      padding: 5px 10px;
      font-size: 16px;
      cursor: pointer;

      &:hover {
        background-color: rgb(255, 44, 44);
      }
    }
  }
}
