@use "../../styles/general-styles.scss" as general;

.navbar {
  width: 100%;
  position: sticky;
  height: 60px;
  padding-top: 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  margin-bottom: 30px;

  .logo-image {
    transform: rotate(14.5deg);
  }

  .sign-out {
    border: none;
    color: white;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    align-self: flex-end;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn {
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    color: black;
    cursor: pointer;
    white-space: nowrap;

    &.orange {
        background-color: general.$main-orange;

        &:hover {
            background-color: orange;
        }
    }

    &.pink {
        background-color: general.$main-pink;

        &:hover {
            background-color: rgb(255, 118, 141);
        }
    }
  }

  .user-options {
    position: relative;

    .desktop {
      display: none;
      align-items: center;
      justify-content: center;
      gap: 20px;

      @media screen and (min-width: general.$screen-md) {
        display: flex;
      }

    }

    .mobile {
      @media screen and (min-width: general.$screen-md) {
        display: none;
      }
    }

    div {
      .user-img {
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
      }

      .menu {
        white-space: nowrap;
        position: absolute;
        right: 10px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        text-align: end;
        border: 2px solid general.$main-orange;
        border-radius: 5px;
        padding: 10px 10px 10px 20px;
        animation: growDown 300ms forwards;
        transform-origin: top center;
        background-color: black;
        z-index: 10;

        &.wide {
          top: 50px;
        }

        a:hover {
          text-decoration: underline;
        }

        @keyframes growDown {
            0% {
              transform: scaleY(0);
            }
            80% {
              transform: scaleY(1.1);
            }
            100% {
              transform: scaleY(1);
            }
          }
      }
    }
  }
}
