@use "../styles/general-styles.scss" as general;

.home {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;

    p {
        margin-top: 20px;
        max-width: 490px;
        font-weight: bolder;
        font-size: 30px;
        text-align: center;

        span {
            background-image: linear-gradient(to right, general.$main-pink, general.$main-orange);
            background-clip: text;
            color: transparent;
        }
    }

    input {
        font-size: 18px;
        width: 100%;
        max-width: 500px;
    }
}