@use "../../../styles/general-styles.scss" as general;

.profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    .profile-picture {
        width: 100%;
        height: auto;
        max-width: 100px;
        border-radius: 50%;
    }

    h2 {
        @include general.styledText;
    }
    
    .user-posts-header {
        font-size: 25px;
        font-weight: 600;
    }

    a:hover {
        text-decoration: underline;
    }
}