.post-list {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    
    input {
        font-size: 18px;
        width: 100%;
        max-width: 500px;
    }
}